*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: linear-gradient(135deg, rgba(129,6,138,1) 23%, rgba(117,154,233,1) 95%);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
